.intro {
    padding: 300px 0;
    /* background-image: url(../images/ифттук.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro__button {
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 24px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border: 2px solid #191919;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #ffffff;
}
.intro__button:hover {
    color: var(--second-text-color);
}