/* .modal__form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    display:none;
}
.modal__form.opn {
    display: block;
}
.modal__form-close {
    max-width: 100px;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--color-white);
    margin-bottom: 20px;
}
.modal__form-close > span {
    color: var(--color-white);
    cursor: pointer;
}
.modal__form-wrap > h2 {
    color: var(--color-white);
    margin-bottom: 30px;
    cursor: pointer;
}
.modal__form-action {
    width: 600px;
    background-color: var(--color-bg-3);
    padding: 30px 20px;
    border-radius: 18px;
}
.modal__input-user {
    position: relative;
    margin-bottom: 20px;
}

.form__input-label {
    position: relative;
    z-index: 2;
    font-size: 0.7em;
    line-height: 18px;
    margin: 0 8px -9px;
    padding: 0 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--color-white);
    font-weight: 400;
    background: transparent;
}
.user__input-label-rq {
    color: var(--color-red);
}
.modal__form-input {
    display: block;
    width: 100%;
    min-width: 0;
    height: 40px;
    padding: 4px 12px;
    border: 1px solid var(--color-white);
    border-radius: 8px;
    background: transparent;
    font-weight: 400;
    line-height: 30px;
    outline: none;
    caret-color: var(--color-white);
    color:var(--color-white) ;
}
.modal__inputs {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.modal__inputs-wrap {
    width: 48%;
}
.modal__textarea {
    width: 100%;
}
.modal__textarea > textarea {
    width: 100%;
    background-color: transparent;
    min-height: 98px;
    resize: vertical;
    border: 1px solid var(--color-white);
    border-radius: 8px;
    margin-bottom: 20px;
    caret-color: var(--color-white);
    color:var(--color-white) ;
}
.modal__client-check {
    margin-bottom: 20px;
    color: var(--color-white);
}
.modal__form-btn {
    height: 40px;
    padding: 0 24px;
    color: var(--color-white);
    background-color: var(--color-gray);
    text-align: center;
    border-radius: 18px;
    border:none;
}
@media (max-width:768px) {
    .modal__form-action {
        min-width: 300px;
        width: 100%;
    }
    .modal__inputs {
        flex-direction: column;
    }
    .modal__inputs-wrap {
        width: 100%;
        margin-bottom: 10px;
    }
    .modal__textarea > textarea {
        margin-bottom: 10px;
    }
    .modal__inputs {
        margin-bottom: 0;
        gap: 0;
    }
    .modal__input-user {
        margin-bottom: 10px;
    }
} */



.hide-modal {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.modal-block {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal__form-descr {
    padding: 15px 0;
    line-height: 1.4;
    font-weight: 400;
    color: var(--main-text-color) !important;
}
.modal-block {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000000db;
    transition: 0.3s;
}
.modal-block .close-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 55px;
    transform: translateY(-30px);
}
.modal-block .close-modal button {
    padding: 10px;
    position: relative;
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
}
.modal-block .close-modal button::before {
    transform: rotate(45deg);
}
.modal-block .close-modal button::after {
    transform: rotate(-45deg);
}
.modal-block .close-modal button::before, .modal-block .close-modal button::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 4px;
    background-color: gray;
    border-radius: 20px;
    right: calc(50% - 13px);
    top: calc(50% - 2px);
    transition: 0.3s;
}

.modal-block .close-modal button::before, .modal-block .close-modal button::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 4px;
    background-color: gray;
    border-radius: 20px;
    right: calc(50% - 13px);
    top: calc(50% - 2px);
    transition: 0.3s;
}
.modal-block .modal-content {
    transform: translateY(-30px);
    border-radius: 20px;
    padding: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    gap: 40px;
}
.modal-block .modal-content .img-model-block {
    justify-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.modal-block .modal-content .img-model-block img {
    margin-bottom: 50px;
}
.modal-block .modal-content .form-modal-block p {
    padding: 15px 0;
    line-height: 1.4;
    font-weight: 400;
}
.my-text-area {
    width: 100%;
    resize: none;
    border: 1px solid #ced4da;
    padding: 10px 15px;
}
.modal-separator {
    width: 100%;
    border-bottom: 1px solid #ced4da;
    margin: 10px 0;
}
.my-input {
    position: relative;
}
.my-input input {
    display: block;
    width: 100%;
    padding: 0.775rem 0.75rem 0.275rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
    max-width: 300px;
    height: 40px;
}
.modal-block .modal-content .form-modal-block .modal-form .my-input input {
    width: 100% !important;
    max-width: unset;
}
.my-input label {
    position: absolute;
    left: 2%;
    top: 30%;
    color: gray;
    font-size: 1rem;
    transition: .3s;
}
.modal-block .modal-content .form-modal-block .button-send-modal-data {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-block .modal-content .form-modal-block .button-send-modal-data button {
    background-color: #24387f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
.modal-block .modal-content .form-modal-block p {
    padding: 15px 0;
    line-height: 1.4;
    font-weight: 400;
    color: #fff;
}
.success-block {
    border-radius: 20px;
    padding: 45px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background: #fff;
    gap: 10px;
}
.modal-display-none {
    display: none !important;
}