@import url(../../../styles/main.css);
@import url(../../../styles/header.css);
@import url(../../../styles/burger.css);
@import url(../../../styles/footer.css);

.news__section {
    padding: 86px 0 ;
}
.breadcrumbs {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
    align-items: flex-start;
}
.breadcrumbs > li {

}
.breadcrumbs  a {
    border: 1px solid hsla(0,0%,7%,.2);
    border-radius: 6px;
    cursor: pointer;
    padding: 3px 12px 4px;
    transition: all .2s ease-in-out;
    font-weight: 600;
    font-size: 0.8em;
    opacity: .5;
    display: flex;
    align-items: center;
}
.breadcrumbs  > a::before {
    content: "\f053";
    color: #595959;
    font-family: FontAwesome;

    /* display: flex;
    align-items: flex-end;
    justify-content: space-between; */
    font-size: 0.8em;
    margin-right: 5px;
}
.news__section-title {
    margin-bottom: 24px;
    color: var(--news-dark-color);
}
.news__section-date {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.news__date-link-page {
    background: #ea2119;
    border-radius: 6px;
    color: #fff;
    display: block;
    flex: 0 0 auto;
    font-weight: 700;
    font-size: 16px;
    height: 32px;
    margin-right: 24px;
    padding: 4px 10px;
}

.news__date-text {
    color: var(--news-light-color);
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    margin-right: 24px;
}
.news__section-info-block {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.news__section-info-block-big {
    width: 75%;
}
.news__section-info-block-big > img {
    width: 100%;
    border-radius: 16px;
    object-fit: contain;
    margin-bottom: 20px;
}
.news__section-info-block-author {
    width: 100%;
    text-align: end;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.5;
    font-size: 12px;
}
.news__section-info-block-small {
    width: 20%;
}
.news__section-info-block-big > h2  {
    margin-bottom: 20px;
    margin-top: 40px;
    color: var(--news-dark-color);
}
.news__section-info-block-big > p  {
    margin-bottom: 20px;
    color: var(--news-dark-color);
}

.small__info-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
    color: var(--news-light-color);
}
.news__section-info-block-small {
    margin-top: 40px;
}
@media (max-width:800px) {
    .news__section {
        padding: 46px 0 ;
    }
    .news__section-info-block {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .news__section-info-block-big {
        width: 100%;
    }
    .news__section-info-block-small {
        width: 100%;
    }
}
@media (max-width:485px) {
    .breadcrumbs {
        flex-direction: column;
    }
}